# # langchain
# # python-dotenv
# # ipykernel
# # langchain-community
# # pypdf
# # bs4
# # arxiv
# # pymupdf
# # wikipedia
# # langchain-text-splitters
# # langchain-openai
# # chromadb
# # sentence_transformers
# # langchain_huggingface
# # faiss-cpu
# # langchain_chroma
# # duckdb
# # pandas
# # openai
# # langchain-groq
# # duckduckgo_search==5.3.1b1
# # pymupdf
# # arxiv
# # wikipedia
# # mysql-connector-python
# # SQLAlchemy
# # validators==0.28.1
# # youtube_transcript_api
# # unstructured
# # pytube
# # numexpr
# # huggingface_hub


# #----------------------------------
# langchain==0.0.37
# python-dotenv
# ipykernel
# pypdf
# beautifulsoup4
# arxiv
# pymupdf
# wikipedia-api
# langchain-text-splitters
# langchain-openai
# chromadb
# sentence-transformers
# langchain-huggingface
# faiss-cpu
# langchain-chroma
# duckdb
# pandas
# openai
# duckduckgo-search==5.3.1b1
# mysql-connector-python
# SQLAlchemy
# validators==0.28.1
# youtube-transcript-api
# unstructured
# pytube
# numexpr
# huggingface-hub


#___________________________________________________________________--
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub

streamlit